@font-face{
    font-family: 'Livvic1', sans-serif;
    src: url(../fonts/Livvic-Italic.woff);
}

@font-face{
    font-family: 'Livvic bold', sans-serif;
    src: url(../fonts/Livvic-SemiBoldItalic.woff);
}